body{
    border-style: solid;
    border-color: gainsboro;
    padding: 10px;
}

.conatiner {
    border-style: solid;
    border-color: black;
    padding: 50px;
}

.text {
    text-align: center;
}

.link {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img {
    display: flex;
    justify-content: center;
}